[Interface]
PrivateKey = {{ client_private_key_result.stdout }}
Address = 167.71.252.3/24


[Peer]
PublicKey = {{ public_key }}
Endpoint = 138.197.126.66:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
