[Interface]
PrivateKey = {{ client_private_key_result.stdout }}
Address = 10.10.10.2/32


[Peer]
PublicKey = {{ public_key_result.stdout }}
Endpoint = 138.197.126.66:51820
AllowedIPs = 10.0.0.0/16
PersistentKeepalive = 25
